body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, serif;
    background-image: url('imgs/madeira.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#papel{
    background-image: url('/imgs/papel.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 90%;
    margin: 5%;
}