* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Persona-Title';
    src: url('/fonts/Persona5Title.ttf');
}

@font-face {
    font-family: 'Persona-Texto';
    src: url('/fonts/persona-texto.ttf');
}

#bemvindo {
    font-size: 4rem;
    font-family: 'Persona-Title';
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, serif;
    background-image: url('imgs/backgroundimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.navegador a {
    font-family: 'Persona-Texto';
    font-size: 1.8rem;
}

.box {
    width: 100%;
}

.box .menu-superior {
    background-color: rgb(183, 45, 45);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 100%;
}

.box .navegador {
    list-style: none;
    display: flex;
    font-family: 'Persona-Texto';
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
}

.box .navegador li {
    letter-spacing: 3px;
    margin-left: 3rem;
}

main {
    justify-content: space-around;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 0.8rem;
    font-size: 2rem;
}

.qm-box {
    height: fit-content;
}

.caixa {
    position: relative;
    width: 95%;
    height: 100%;
    border-radius: 20px;
    margin: 0.8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.caixa-noflex {
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid;
    border-color: #000000;
    background-color: #a02c30;
    left: 50%;
    transform: translate(-50%);
    margin: 0.8rem;
    margin-bottom: 2rem;
}


h2 {
    font-family: 'Persona-Texto';
    font-size: 3rem;
    position: relative;
    letter-spacing: 3px;
}

.caixa-noflex h2 {
    text-align: center;
    top: 0.8rem;
    color: white;
}

.foto {
    position: relative;
    width: 25%;
}

.fotoconfig {
    width: 100%;
    height: 100%;
    margin: 0;
}

.texto {
    position: relative;
    height: 50%;
    width: 65%;
    text-align: justify;
    align-self: center;
    font-size: 1.2rem;
    color: white;
}

.lista-proj {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#projetos .foto {
    border-radius: 20px;
    margin: 0;
    margin-top: 1rem;
    width: auto;
    height: auto;
    max-width: 80%;
}

#sobre-mim .texto {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
}

#projetos .texto {
    width: 90%;
    margin-bottom: 1rem;
}

#projetos h3 {
    text-align: center;
}

.item-lista {
    margin-top: 2rem;
    width: 25%;
    text-align: center;
    margin-right: 2rem;
}

#meus-gostos h2 {
    top: 0.8rem;
}

#meus-gostos .foto {
    border-radius: 20px;
    margin: 0;
    margin-top: 1rem;
    width: auto;
    height: auto;
    max-width: 80%;
}

#meus-gostos .texto {
    width: 100%;
    margin-bottom: 1rem;
}

#meus-gostos h3 {
    color: white;
    text-align: center;
}

.tit-ses {
    margin-top: 1rem;
}

#email-sessao {
    color: white;
}

#email-sessao form {
    width: 100%;
}

#email-sessao label,
input,
textarea,
button {
    display: block;
}

#email-sessao input,
textarea,
button {
    width: 50%;
    height: 2rem;
}

#email-sessao textarea {
    height: 8rem;
}

#email-sessao input,
textarea {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
    background-color: #000000;
    border: white solid;
    border-radius: 5px;
}

#email-sessao button {
    height: auto;
    width: auto;
    background: none;
    border: none;
}

#email-sessao label {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

#email-sessao textarea {
    min-height: 12.5rem;
    resize: vertical;
}

#email-sessao button img {
    height: auto;
    width: 10rem;
}

#email-sessao button:hover {
    transform: scale(1.2) rotate(-10deg);
    cursor: pointer;
}

#email-sessao form {
    margin-left: 25%;
}

@media screen and (max-width: 1050px) {
    #sobre-texto {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    #minha-foto {
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 50%;
        height: 50%;
    }
}

.icone {
    width: 10rem;
}

#foto-programador{
    width: 30%;
    border-radius: 20px;
}

#lista-habilidades{
    width:60%;
    margin-left: 1rem;
}

#lista-habilidades li{
    color: white;
    font-size: 1.1rem;
}

@media screen and (max-width: 660px) {

    .caixa {
        flex-direction: column;
    }

    .foto {
        align-self: center;
    }

    #minha-foto {
        margin-top: 0;
        width: 80%;
    }

    .box .menu-superior {
        height: 15rem;
    }

    .box .navegador {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .box .navegador li {
        margin: 5px;
    }

    .lista-proj {
        flex-direction: column;
        align-items: center;
    }

    .item-lista {
        width: 100%;
    }

    #projetos .texto {
        height: 50%;
        width: 90%;
        text-align: center;
        align-self: center;
        font-size: 1.1rem;
        margin-left: 8%;
        margin-right: 8%;
    }

    #projetos .foto {
        align-self: center;
        margin-left: 5%;
    }

    #meus-gostos .foto{
        align-self: center;
        margin-left: 5%;

    }

    #meus-gostos .texto {
        margin-left: 2rem;
        margin-right: 2rem;
        width: 90%;
    }

    #contato {
        text-align: center;
    }

    #foto-programador{
        margin-top: 1rem;
        width: 90%;
        border-radius: 20px;
    }
}